@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.btns {
  @apply   px-3 py-1 rounded-lg; 
}
input[type="email"], input[type="password"], input[type="text"]{
  @apply border py-3 px-3 md:w-96 w-72 rounded-lg;
}

.icons {
  @apply text-3xl duration-300 hover:scale-125 cursor-pointer; 
}
span {
  @apply text-primary ;
}

.li {
  @apply border-b py-2 px-2 border-gray-300
}
textarea {
  @apply border rounded-xl p-4 my-2 border-primary
}
.footer-icons {
  @apply text-white text-3xl cursor-pointer;
}
.expanded {
  padding: 0.4rem 0;
  height: 300px; /* Set the desired expanded height */
  transition: height 0.6s ease; /* Set the transition duration and easing */
}
.not-expanded {
  overflow: hidden;
  height:0;
  transition: height 0.6s ease;
}
.expanded ul {
  opacity: 1;
  transition: opacity 0.6s ease;
}
.not-expanded ul {
  opacity: 0;
  transition: opacity 0.6s ease;
}